{% extends "website/base.html" %}

{% block content %}
    <div class="card mt-2 mb-2">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div><h3>Мемориалы</h3></div>
            <div><a href="{% url 'cemetery_create' %}"  data-toggle="tooltip" data-placement="bottom" title="Добавить"><i class="fa fa-2x fa-plus text-success"></i></a></div>
        </div>

        {% if cemetery_list %}
        <div class="card-body p-0">
            <table class="table table-hover mb-0">
                <tbody id="paginated_list">
                    {% include 'website/snippets/cemetery_list_rows.html' with cemetery_list=cemetery_list %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="card-body">
            <p class="card-text text-muted">Список пуст</p>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block script %}
<script>activate_pagination({{ page_obj.number }}, window.location.href, 'paginated_list');</script>
{% endblock %}
