{% extends "website/base.html" %}

{% block content %}
<div class="card border-danger text-danger mt-2 mb-2">
    <div class="card-header"><h3>{{ page_title }}</h3></div>
    <div class="card-body">
        <form action="" method="post">{% csrf_token %}
            <h5 class="mb-3">Точно удалить "{{ object }}"?</h5>
            {% if additional_text %}
                <p>{{ additional_text }}</p>
            {% endif %}
            <input class="btn btn-danger" type="submit" value="Удалить" />
        </form>
    </div>
</div>

{% endblock %}
