{% extends "website/base.html" %}

{% block content %}
    {% if hospital_list %}
        <div class="card mt-2 mb-2">
            <div class="card-header"><h3>Госпитали</h3></div>

            <div class="card-body p-0">
                <table class="table table-hover mb-0">
                    <tbody>
                    {% for hospital in hospital_list %}
                        <tr class="clickable-row" data-href="{% url 'hospital_detail' hospital.id %}"><td>{{ hospital.name }}</td></tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    {% include 'website/snippets/pagination.html' %}
{% endblock %}
