{% extends "website/base.html" %}

{% block content %}
    <div class="card mt-2 mb-2">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div><h3>Госпитали</h3></div>
            <div><a href="{% url 'hospital_create' %}" data-toggle="tooltip" data-placement="bottom" title="Добавить"><i class="fa fa-2x fa-plus text-success"></i></a></div>
        </div>

        <div class="card-body p-0">
            {% if hospital_list %}
            <table class="table table-hover mb-0">
                <tbody>
                {% for hospital in hospital_list %}
                    <tr class="clickable-row" data-href="{% url 'hospital_detail' hospital.id %}"><td>{{ hospital.name }}</td></tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>

    {% include 'website/snippets/pagination.html' %}
{% endblock %}
