{% extends "website/base.html" %}

{% block content %}
    <div class="card mt-2 mb-2">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div><h2 class="d-inline-block">{{ hospital.name }}</h2></div>
            <div>
                <a href="{% url 'hospital_edit' hospital.id %}"><i class="fa fa-2x fa-edit text-info mr-4" data-toggle="tooltip" data-placement="bottom" title="Редактировать"></i></a>
                <a href="{% url 'hospital_delete' hospital.id %}"  data-toggle="tooltip" data-placement="bottom" title="Удалить"><i class="fa fa-2x fa-trash text-danger"></i></a>
            </div>
        </div>
    </div>

    {% if page_obj %}
        <div class="card mt-2 mb-2">
            <div class="card-header"><h3>Люди</h3></div>

            <div class="card-body p-0">
                <table class="table table-hover mb-0">
                    <tbody>
                    {% for person in page_obj %}
                        <tr class="clickable-row" data-href="{% url 'person_detail' person.id %}">
                            <td>{{ person.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    {% include 'website/snippets/pagination.html' %}
{% endblock %}
