{% extends "website/base.html" %}

{% load crispy_forms_tags %}

{% block content %}

{% if not import.data_added %}

<div class="card mt-2">
    <div class="card-header"><h3>Настройка импорта</h3></div>
    <div class="card-body">
        <div class="card-text">{% crispy form %}</div>
    </div>
</div>

<div class="card mt-2 mb-2">
    <div class="card-header"><h3>Данные для импорта</h3></div>
    <form action="{% url 'import_do' import.id %}" method="post">{% csrf_token %}
        <div class="card-body p-0">
            <table class="table table-sm table-responsive">
                {% if import_header %}
                <thead>
                    {% for row in import_header %}
                        <tr>
                            {% for col in row %}
                                <th scope="col">
                                    {{ col }}
                                </th>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    <tr>
                        {% for _ in numbering %}
                            <th scope="col">Поля</th>
                        {% endfor %}
                        {% for _ in data_cols %}
                            <th scope="col">
                                <select class="form-control form-control-sm" name="column_{{ forloop.counter0 }}">
                                    <option value="">---</option>
                                    {% for k, v in data_mapping.items %}
                                        <option value="{{ k }}" {% if forloop.counter == forloop.parentloop.counter %}selected{% endif %}>{{ v }}</option>
                                    {% endfor %}
                                </select>
                            </th>
                        {% endfor %}
                    </tr>
                </thead>
                {% endif %}
                {% if import_data %}
                    {% for row in import_data %}
                        <tr>
                            {% for data in row %}
                                {% if forloop.counter == 1 %}
                                    {% for col in data %}
                                        <th scope="row">
                                            {{ col }}
                                        </th>
                                    {% endfor %}
                                {% else %}
                                    {% for col in data %}
                                        <td scope="row">
                                            {{ col }}
                                        </td>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
        <div class="card-body pt-0">
            <div class="card-text">
                <input type="submit" class="btn btn-primary" value="Импортировать">
            </div>
        </div>
    </form>
    {% if data_len > 0 %}
    <div class="card-footer">
        Показывается {{ data_show_len }} строк из {{ data_len }}.
        {% if data_len > data_show_len %}
            <a href="{% url 'import_update' import.id %}?show_all">Показать все.</a>
        {% else %}
            <a href="{% url 'import_update' import.id %}">Показать меньше.</a>
        {% endif %}
    </div>
    {% endif %}
</div>
{% else %}
<div class="card mt-2">
    <div class="card-header"><h3>Импорт завершен</h3></div>
    <div class="card-body">
        {% if added_hospitals %}
            <h4>Добавленные госпитали</h4>
            {% if added_hospitals %}
                <ul class="list-unstyled">
                {% for hospital in added_hospitals %}
                    <li><a href="{% url 'hospital_detail' hospital.id %}">{{ hospital }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endif %}

        {% if added_persons %}
            <h4>Добавленные люди</h4>
            {% if added_persons %}
                <ul class="list-unstyled">
                {% for person in added_persons %}
                    <li><a href="{% url 'person_detail' person.id %}">{{ person }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endif %}

        <form action="{% url 'import_apply_or_undo' import.id %}" method="post">{% csrf_token %}
            <button type="submit" class="btn btn-primary" name="action" value="apply">Сохранить</button>
            <button type="submit" class="btn btn-danger" name="action" value="undo">Отменить</button>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}