{% extends "website/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
{% if imports %}
<div class="card mt-2 mb-2">
    <div class="card-header"><h3>Незавершенные импорты</h3></div>
    <div class="card-body pb-0">
        <ul class="list-unstyled">
        {% for import in imports %}
            <li><a href="{% url 'import_update' import.id %}"> {{ import.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

<div class="card mt-2 mb-2">
    <div class="card-header"><h3>Новый импорт</h3></div>
    <div class="card-body pt-2">
        {% crispy form %}
    </div>
</div>
{% endblock %}