[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
Django = "*"
gunicorn = "*"
requests = "*"
django-crispy-forms = "*"
dj-database-url = "*"
"psycopg2-binary" = "*"
chardet = "*"
openpyxl = "*"
django-recaptcha = {editable = true,git = "https://github.com/robcharlwood/django-recaptcha",ref = "django3"}
django-debug-toolbar = "*"

[requires]
python_version = "3"
