[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
Django = "*"
gunicorn = "*"
requests = "*"
django-crispy-forms = "*"
dj-database-url = "*"
"psycopg2-binary" = "*"
django-recaptcha3 = "*"
chardet = "*"
openpyxl = "*"

[requires]
python_version = "3"
