[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
django = "*"
gunicorn = "*"
requests = "*"
django-crispy-forms = "*"
dj-database-url = "*"
"psycopg2-binary" = "*"
django-recaptcha = "*"

[requires]
python_version = "3.6"
