{% for person in person_list %}
<tr class="clickable-row {% if person.get_status == 0 %}table-danger{% elif person.get_status == 1 %}table-warning{% elif person.get_status == 2 %}table-success{% endif %}" data-href="{% url 'person_detail' person.id %}" data-target="_blank">
    <td>{{ person.name }}</td>
    <td>{% if person.screen_year %}р. {{ person.screen_year }}{% endif %}</td>
    <td>{% if person.living_place %}{{ person.living_place }}{% endif %}</td>
    <td>{% if person.screen_military_unit %}{{ person.screen_military_unit }}{% endif %}</td>
    <td>{% if person.screen_death_date %}ум. {{ person.screen_death_date }}{% endif %}</td>
</tr>
{% endfor %}