{% for person in person_list %}
<tr class="clickable-row {% if person.get_status == 0 %}table-danger{% elif person.get_status == 1 %}table-warning{% elif person.get_status == 2 %}table-success{% endif %}" data-href="{% url 'person_detail' person.id %}" data-target="_blank">
    <td>{% if not person.ontombstone %}<i class="fa fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="Нет на памятнике"></i>{% endif %}</td>
    <td>{{ start_item_number|add:forloop.counter0 }}</td>
    <td>{{ person.screen_state }}</td>
    <td>{{ person.name }}</td>
    <td>{% if person.screen_year %}{{ person.screen_year }}{% endif %}</td>
    <td>{% if person.living_place %}{{ person.living_place }}{% endif %}</td>
    <td>{% if person.screen_military_unit %}{{ person.screen_military_unit }}{% endif %}</td>
    <td>{% if person.screen_death_date %}{{ person.screen_death_date }}{% endif %}</td>
    {% if show_cemetery %}<td>{% if person.screen_cemetery %}{{ person.screen_cemetery }}{% endif %}</td>{% endif %}
    <td>{% if person.notes %}<i class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" title="{{ person.name }}" data-content="{{ person.notes }}"></i>{% endif %}</td>
</tr>
{% endfor %}