.card-body .table tr:first-child td {
    border-top: 0;
}

.card-body .table tr:first-child th {
    border-top: 0;
}

.clickable-row {
    cursor: pointer;
}

.fixed-submit-button {
    position:fixed;
    bottom:0;
    padding-bottom: 1em;
    padding-left: 1em;
}