import os

import dj_database_url

SECRET_KEY = 'CHANGE_ME!!!! (P.S. the SECRET_KEY environment variable will be used, if set, instead).'

BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

ALLOWED_HOSTS = ['*']

ADMIN_ENABLED = False

DATABASE = 'burialdb'
DB_HOST = 'localhost'
DB_PORT = '5432'
DB_USER = 'burialdb'
DB_PASSWORD = '12345'
DATABASE_URL = "postgres://{0}:{1}@{2}:{3}/{4}".format(DB_USER, DB_PASSWORD, DB_HOST, DB_PORT, DATABASE)

DATABASES = {
    'default': dj_database_url.parse(DATABASE_URL)
}

#
# ReCaptcha config
#

# RECAPTCHA_ENABLED = True

# RECAPTCHA_PUBLIC_KEY = ''

# RECAPTCHA_PRIVATE_KEY = ''


#
# Logging config
#

DJANGO_LOG_FILE = os.path.join(BASE_DIR, 'django.log')

BURIALDB_LOG_FILE = os.path.join(BASE_DIR, 'burialdb.log')

LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'formatters': {
        'verbose': {
            'format': ('%(asctime)s [%(process)d] [%(levelname)s] ' +
                       'pathname=%(pathname)s lineno=%(lineno)s ' +
                       'funcname=%(funcName)s %(message)s'),
            'datefmt': '%Y-%m-%d %H:%M:%S'
        },
        'simple': {
            'format': '%(levelname)s %(message)s'
        }
    },
    'handlers': {
        'null': {
            'level': 'DEBUG',
            'class': 'logging.NullHandler',
        },
        'console': {
            'level': 'DEBUG',
            'class': 'logging.StreamHandler',
            'formatter': 'verbose'
        },
        'django_file': {
            'level': 'DEBUG',
            'class': 'logging.FileHandler',
            'filename': DJANGO_LOG_FILE,
        },
        'release_hub_file': {
            'level': 'DEBUG',
            'class': 'logging.FileHandler',
            'filename': BURIALDB_LOG_FILE,
        }
    },
    'loggers': {
        'testlogger': {
            'handlers': ['console'],
            'level': 'INFO',
        },
        'django': {
            'handlers': ['django_file'],
            'level': 'INFO',
            'propagate': True,
        },
        'release_hub': {
            'handlers': ['release_hub_file'],
            'level': 'INFO',
            'propagate': True,
        },
    }
}
